@font-face {
  font-family: natureSpirit;
  src: url(@/assets/fonts/NatureSpiritRough.otf);
}

html{
  background: #f7f3e5;

  *{
    font-family: "AvenirNext LT Pro", arial, helvetica, sans-serif;
  }
  h1{
  font-family: Barricada;
  font-size: 80px;
}
h2{
  font-size: 30px;
}
.logo{
  height: 70px;
  width: 70px;
  background-image: url("../assets/images/LogoNoBG400px.png");
  background-size: cover;
}
}


