
$xl: "only screen and (min-width: 1200px)";
$desktop-and-bigger: "only screen and (min-width: 992px)";
$desktop: "only screen and (max-width: 1199px)";
$laptop: "only screen and (max-width: 991px)";
$tablet: "only screen and (max-width: 767px)";
$mobile-small: "only screen and (max-width: 400px)";

$primary-color: #F9BC23;